.App, .App-duedate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-duedate {
  width: 320px;
}

.App-numeric-input {
  border: thin solid #808080;
  height: 27px;
}

button {
  height: 27px;
	background: none;
	color: inherit;
	border: thin solid #808080;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.App-resolved {
  color: #FF0000;
}
